{{!-- Renders the selected post --}}
<div class="card text-dark">
  <div class="card-header d-flex justify-content-between">
  <h5>{{post.title}}</h5>
  <h6 >{{post.User.username}} | {{format_date post.createdAt}}</h6>
  </div>
  <div class="card-body">
    <p class="card-text">{{post.body}}</p>
  </div>
</div>

{{!-- Renders the comment section if the post has comments --}}
{{#if comments}}
<div class="card mt-2 text-dark">
  <h5 class="card-header">Comments</h5>
  {{#each comments}}
  <div class="card-body">
    <div>
        <p class="card-text">{{body}}</p>
        <p class="card-text fw-light">- {{User.username}} | {{format_date createdAt}}</p>
    </div>
  </div>
  {{/each}}
</div>
{{/if}}

{{!-- Renders a form to allow the user to post a comment --}}
<div class="card mt-5 text-dark">
  <form class="comment-form">
    <div class="card-body">
      <input type="hidden" id="post-id" value="{{post.id}}"/>
      <h5 class="form-label fs-6 mb-3">Comment</h5>
      <input type="text" class="form-control" id="comment-body" aria-describedby="emailHelp"/>
    </div>
    <button type="submit" class="ms-3 mb-3 btn btn-primary">Post Comment</button>
  </form>
</div>

<script src="/js/comment.js"></script>